/* Corporate Services Section */
.corporate-services {
    background-color: #f5f5f5;
    padding: 40px;
    margin: 20px auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  body.dark-mode {
    background-color: black;
    color: white;
 }
  
  .corporate-services h2 {
    font-size: 2em;
    color: #333;
  }
  
  .corporate-services p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
  }
  
  .corporate-services ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .corporate-services ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #333;
  }
  
  .corporate-services h3 {
    font-size: 1.5em;
    margin-top: 30px;
    color: #333;
  }
  
  .corporate-services strong {
    color: #000;
  }
  
  .corporate-services em {
    color: #555;
  }
  